.contact-section{
    background:  linear-gradient(
      rgba(1, 1, 1, 0.9)
    ),url(../image/contact_background.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
}
.contact-upper-child{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 189px;
}
.contact-upper-child h2{
    margin-bottom: 75px;
}
.contact-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
}
.contact-inner h3{
    margin-bottom: 26px;
}
.contact-inner a{
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}
.grid {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr;
  gap: 26px;
}
.grid2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 26px;

}
.field label{
  display: block;
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.field input,
.field select,
.field textarea {
  width: 100%;
  padding: 23px 35px;
  border-radius: 50px;
  background: #181817;
  border: 1px solid #DBC76159;
  color: #FFFFFF;
  outline: none;
  margin-bottom: 60px;
}

.field textarea {
  min-height: 414px;
  border-radius: 40px;
  resize: none;
}

.field.full {
  grid-column: 1/-1;
}

.field input::placeholder,
.field textarea::placeholder {
  color: #777;
  font-size: 20px;
  font-weight: 400;
}

.checkbox{
  display: flex;
  align-items: center;
  gap: 35px;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 400;
}
.box1{
    margin: 90px 0 48px 0;
}
input[type="checkbox"]{
    width: 56px;
    height: 47px;
    border: 1px solid #DBC76159;
    background: transparent;
}
.form-btn{
    text-align: center;
    margin-top: 71px;
}
.btn{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    border: 1px solid #DDCA67;
}
.btn:hover{
    background-color: tomato;
}
/* responsive */
@media (min-width: 320px) and (max-width: 575.98px) {
        .contact-upper-child{
    width: 90%;
    margin-bottom: 50px;
}
.contact-upper-child h2{
    margin-bottom: 50px;
}
.contact-inner h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.contact-inner-left{
  padding-right: 20px;
  padding-bottom: 20px;
}
.contact-inner a{
    font-size: 16px;
}
/* form */
.grid {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  gap: 10px;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

}
.field label{
  font-size: 14px;
  margin-bottom: 10px;
}
.field input,
.field select,
.field textarea{
  margin-bottom: 10px;
  padding: 10px;
}
.field textarea {
  min-height: 100px;
  border-radius: 30px;
  resize: none;
}
.field input::placeholder,
.field textarea::placeholder {
  font-size: 10px;
}
.checkbox{
  font-size: 14px;
  gap: 15px;
}
.box1{
    margin: 35px 0;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.form-btn{
    margin-top: 30px;
}
.btn{
    font-size: 15px;
}


 }
@media (min-width: 576px) and (max-width: 767.98px) {
      .contact-upper-child{
    width: 80%;
    margin-bottom: 100px;
}
.contact-upper-child h2{
    margin-bottom: 50px;
}
.contact-inner h3{
    margin-bottom: 20px;
    font-size: 20px;
}
.contact-inner-left{
  padding-right: 20px;
}
.contact-inner a{
    font-size: 18px;
}
/* form */
.field label{
  font-size: 16px;
}
.field input,
.field select,
.field textarea{
  margin-bottom: 30px;
  padding: 15px;
}
.field textarea {
  min-height: 200px;
  border-radius: 40px;
  resize: none;
}
.field input::placeholder,
.field textarea::placeholder {
  font-size: 14px;
}
.checkbox{
  font-size: 18px;
}
.box1{
    margin: 35px 0;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.form-btn{
    margin-top: 30px;
}
.btn{
    font-size: 20px;
}

 }
@media (min-width: 768px) and (max-width: 991.98px) {
    .contact-upper-child{
    width: 80%;
    margin-bottom: 100px;
}
.contact-upper-child h2{
    margin-bottom: 50px;
}
.contact-inner h3{
    margin-bottom: 20px;
    font-size: 20px;
}
.contact-inner-left{
  padding-right: 20px;
}
.contact-inner a{
    font-size: 18px;
}
.field label{
  font-size: 20px;
}
.field input,
.field select,
.field textarea{
  margin-bottom: 30px;
  padding: 23px 25px;
}
.field textarea {
  min-height: 200px;
  border-radius: 40px;
  resize: none;
}
.field input::placeholder,
.field textarea::placeholder {
  font-size: 16px;
}
.checkbox{
  font-size: 20px;
}
.box1{
    margin: 48px 0;
}
input[type="checkbox"]{
    width: 25px;
    height: 25px;
}
.form-btn{
    margin-top: 30px;
}
 }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .contact-upper-child{
    width: 70%;
    margin-bottom: 100px;
}
.contact-upper-child h2{
    margin-bottom: 50px;
}
.contact-inner h3{
    margin-bottom: 20px;
}
.contact-inner-left{
  padding-right: 20px;
}

 }
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .contact-upper-child{
    width: 70%;
    margin-bottom: 100px;
}
  .contact-inner-left{
  padding-right: 20px;
}

 }