*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body{
     /* font-family: 'Inter', sans-serif; */
     line-height: 1.5;
}
section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,.heading-1{
    font-size: 80px;
    font-weight: 400;
    color: #F2F2F2;
    line-height: 1.2;
    text-transform: capitalize;
}
h2,.heading-2{
    font-size: 60px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.2;
    text-transform: capitalize;
}
h3,.heading-3{
    font-size: 50px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.2;
    text-transform: capitalize;
}
h4,.heading-4{
    font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.2;
    text-transform: uppercase;
}
span{
    color: #DDCA67;
}

p{
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.2;
    text-transform: capitalize;
}
.cmn-btn{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    color: #DDCA67;
    background-color: #0808067A;
    text-transform: capitalize;
    padding: 21px 31px;
    border: 2px solid #FFFFFF;
    border-radius: 33px;
}
.cmn-btn:hover{
    background-color: transparent;
}
.cmn-gap{
    padding: 100px 0;
}
/* header section start */
.header-section{
    background-color: #040404;
    padding: 5px 0;
    position: relative;
}
.logo{
    display: block;
    width: 100px;
    height: auto;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
}
.nav-links li{
    margin-right: 60px;
}
.nav-links li:nth-last-child(1){
    margin-right: 0px;
}
.nav-links li a{
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
}
.nav-links li a:hover{
    color: #DDCA67;
}
.nav-right .search{
    margin-right: 44px;
}
/* header section end */
/* banner section start */
.banner-section{
    background:  linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.78) 0%,
      rgba(0, 0, 0, 0.55) 30%,
      rgba(0, 0, 0, 0.28) 55%,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0) 100%
    ),url(../image/banner_image.png) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.banner-child{
    width: 60%;
}
.banner-child h1{
    margin-bottom: 37px;
}
.banner-child p{
    margin-bottom: 51px;
}
.flight_icon{
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-left: 10px;
}
/* banner section end */
/* about section start */
.about-section{
    background:  linear-gradient(
      rgba(1, 1, 1, 0.9)
    ),url(../image/contact_background.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
}
.upper-about{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 152px;
}
.upper-about h2{
    margin-bottom: 36px;
}
.about-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 74px 80px;
    border: 2px solid #27220D;
    border-radius: 70px;
    margin-bottom: 40px;
    background-color: #080806;
}
.about-left,.about-right{
    width: 40%;
}
.abt-btn{
    border: 1px solid #DDCA67;
    color: #FFFFFF;
}
.abt-btn:hover{
    background-color: #524B26;
}
.inner-text h3{
    margin-bottom: 27px;
}
.inner-text p{
    margin-bottom: 59px;
}
.about-child:nth-child(3){
    flex-direction: row-reverse;
}
.about-child:nth-child(3) .inner-text{
    text-align: right;
}
/* about section end */
/* table section start */
.comparison-section {
    background:  linear-gradient(
      rgba(1, 1, 1, 0.9)
    ),url(../image/contact_background.jpg) no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
}
.upper-comparison{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 79px;
}
.upper-comparison h2{
    margin-bottom: 20px;
}
/* Heading */
.comparison-header span{
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-color: #DDCA6791; 
}
.comparison-child{
    text-align: center;
}
.comparison-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  margin-bottom: 47px;
  background-color: #080806;
}

/* Data rows */
.comparison-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.5fr;
  padding: 35px 0px;
  margin-bottom: 35px;
  border: 1px solid #DBC76159;
  border-radius: 50px;
  background-color: #080806;
}
.comparison-row span{
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}
.check{
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  vertical-align: middle;
}
.note{
    text-align: left;
}
/* table section end */

/* footer section start */
.footer-section{
    border-top: 1px solid #524B26;
    padding: 66px 0;
    background-color: #080806;
}
.footer-child{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.cmn-footer{
    width: 25%;
    padding: 0 15px;
}
.footer-logo{
    display: block;
    width: 100px;
    margin-bottom: 50px;
}
.cmn-footer p{
    margin-bottom: 73px;
}
.tel{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
}
.tel img{
    margin-right: 8px;
}
.cmn-footer-links li{
    margin-bottom: 20px;
}
.cmn-footer-links li:nth-last-child(1){
    margin-bottom: 0;
}
.cmn-footer-links li a{
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: capitalize;
}
.footer-heading{
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 23px;
}
.newsletter-form{
    border: 1px solid #DDCA6780;
    padding: 9px 6px 9px 31px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    margin-bottom: 104px;
}
#email{
    outline: none;
    border: none;
    background-color: transparent;
}
#email::placeholder{
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}
.footer-btn{
    display: inline-block;
    background-color: #DDCA67;
    color: #090906;
    width: 100%;
    padding: 9px 14px;
    border-radius: 16px;
    border: #000000;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
     margin-bottom: 38px;
}
.footer-links li{
    margin-right: 10px;
}
.footer-links li:nth-last-child(1){
    margin-right: 0;
   
}
.footer-locations{
    text-align: right;
}
.footer-locations span{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.divider{
    margin: 0 10px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #F1E28C;
    margin: 89px 0 30px 0;
}
.footer-lower,a{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
}
/* footer section end */
/* responsive */
@media (min-width: 320px) and (max-width: 575.98px) { 
        h1,.heading-1{
    font-size: 35px;
}
h2,.heading-2{
    font-size: 30px;
}
h3,.heading-3{
    font-size: 25px;
}
p{
    font-size: 16px;
}
.cmn-gap{
    padding: 30px 0;
}
.cmn-btn{
    font-size: 18px;
    padding: 15px 20px;
}
.flight_icon{
    width: 20px;
    height: 15px;
    margin-left: 5px;
}
/* banner section */
.banner-child{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.banner-child h1{
    margin-bottom: 20px;
}
.banner-child p{
    margin-bottom: 20px;
}
/* about section */
.upper-about{
    width: 90%;
    margin-bottom: 50px;
}
.upper-about h2{
    margin-bottom: 20px;
}
.about-child{
    padding: 40px;
}
.about-left,.about-right{
    width: 100%;
}
.about-left{
    padding-bottom: 30px;
}
.inner-text h3{
    margin-bottom: 20px;
}
.inner-text p{
    margin-bottom: 20px;
}
.about-child:nth-child(3) .inner-text{
    text-align: left;
}
/* table section start */
.upper-comparison{
    width: 90%;
    margin-bottom: 50px;
}
.comparison-header span,.comparison-row span{
    font-size: 14px;
}
.check{
    width: 25px;
    height: 25px;
}
.comparison-header{
    margin-bottom: 20px;
}
.comparison-row {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}
/* footer section */
.footer-section{
    padding: 30px 0;
}
.cmn-footer{
    width: 100%;
    padding: 20px 15px 20px 15px;
}
.footer-logo{
    margin-bottom: 10px;
}
.cmn-footer p{
    margin-bottom: 10px;
}
.tel{
    font-size: 15px;
}
.cmn-footer-links li{
    margin-bottom: 10px;
}
.cmn-footer-links li a{
    font-size: 18px;
}
.footer-heading{
    font-size: 20px;
}
.newsletter-form{
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}
#email::placeholder{
    font-size: 14px;
}
.footer-btn{
    font-size: 14px;
    padding: 10px;
    width: 50%;
}
.footer-locations{
    text-align: left;
}
.footer-locations span{
    font-size: 14px;
}
.footer-links li a img{
    width: 40px;
}
.footer-links{
    margin-bottom: 10px;
    justify-content: flex-start;
}
.line{
    margin:30px 0;
}
.footer-lower,a{
    font-size: 14px;
}
 }
@media (min-width: 576px) and (max-width: 767.98px) { 
         h1,.heading-1{
    font-size: 40px;
}
h2,.heading-2{
    font-size: 30px;
}
h3,.heading-3{
    font-size: 25px;
}
p{
    font-size: 20px;
}
.cmn-gap{
    padding: 50px 0;
}
.cmn-btn{
    font-size: 20px;
    padding: 15px 25px;
}
/* banner section */
.banner-child{
    width: 80%;
}
/* about section */
.upper-about{
    width: 80%;
    margin-bottom: 100px;
}
.about-child{
    padding: 40px;
}
.about-left,.about-right{
    width: 100%;
}
.about-left{
    padding-bottom: 30px;
}
.inner-text h3{
    margin-bottom: 20px;
}
.inner-text p{
    margin-bottom: 20px;
}
.about-child:nth-child(3) .inner-text{
    text-align: left;
}
/* table section start */
.upper-comparison{
    width: 80%;
    margin-bottom: 60px;
}
.comparison-header span,.comparison-row span{
    font-size: 16px;
}
.check{
    width: 30px;
    height: 30px;
}
.comparison-header{
    margin-bottom: 20px;
}
.comparison-row {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}
/* footer section */
.cmn-footer{
    width: 50%;
    padding: 20px 15px 20px 15px;
}
.footer-logo{
    margin-bottom: 20px;
}
.cmn-footer p{
    margin-bottom: 20px;
}
.tel{
    font-size: 20px;
}
.cmn-footer-links li{
    margin-bottom: 10px;
}
.cmn-footer-links li a{
    font-size: 20px;
}
.footer-heading{
    font-size: 22px;
}
.newsletter-form{
    padding: 10px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: space-between;
}
#email::placeholder{
    font-size: 14px;
}
.footer-btn{
    font-size: 14px;
    padding: 10px;
    width: 50%;
}
.footer-locations{
    text-align: left;
}
.footer-locations span{
    font-size: 14px;
}
.footer-links li a img{
    width: 40px;
}
.footer-links{
    margin-bottom: 20px;
    justify-content: flex-start;
}
.line{
    margin:30px 0;
}
.footer-lower,a{
    font-size: 16px;
}
 }
@media (min-width: 768px) and (max-width: 991.98px) { 
         h1,.heading-1{
    font-size: 50px;
}
h2,.heading-2{
    font-size: 35px;
}
h3,.heading-3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.cmn-btn{
    font-size: 20px;
    padding: 15px 25px;
}
/* banner section */
.banner-child{
    width: 70%;
}
/* about section */
.upper-about{
    width: 70%;
    margin-bottom: 100px;
}
.about-child{
    padding: 40px;
}
.about-left,.about-right{
    width: 50%;
}
.about-left{
    padding-right: 20px;
}
.about-child:nth-child(3) .about-left{
    padding-left: 20px;
}
.inner-text h3{
    margin-bottom: 20px;
}
.inner-text p{
    margin-bottom: 20px;
}
/* table section start */
.upper-comparison{
    width: 70%;
    margin-bottom: 79px;
}
.comparison-header span,.comparison-row span{
    font-size: 20px;
}
.check{
    width: 30px;
    height: 30px;
}
.comparison-header{
    margin-bottom: 20px;
}
.comparison-row {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
}
/* footer section */
.cmn-footer{
    width: 50%;
    padding: 20px 15px 20px 15px;
}
.footer-logo{
    margin-bottom: 20px;
}
.cmn-footer p{
    margin-bottom: 20px;
}
.tel{
    font-size: 20px;
}
.cmn-footer-links li{
    margin-bottom: 10px;
}
.cmn-footer-links li a{
    font-size: 20px;
}
.footer-heading{
    font-size: 22px;
}
.newsletter-form{
    padding: 10px;
    margin-bottom: 50px;
    width: 80%;
    justify-content: space-between;
}
#email::placeholder{
    font-size: 14px;
}
.footer-btn{
    font-size: 14px;
    padding: 10px;
    width: 30%;
}
.footer-locations{
    text-align: left;
}
.footer-locations span{
    font-size: 14px;
}
.footer-links li a img{
    width: 40px;
}
.footer-links{
    margin-bottom: 20px;
    justify-content: flex-start;
}
.line{
    margin:30px 0;
}
.footer-lower,a{
    font-size: 20px;
}
 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
      h1,.heading-1{
    font-size: 60px;
}
h2,.heading-2{
    font-size: 40px;
}
h3,.heading-3{
    font-size: 35px;
}
p{
    font-size: 20px;
}
/* about section  */
.about-child{
    padding: 50px;
}
.about-left,.about-right{
    width: 50%;
}
.about-left{
    padding-right: 20px;
}
.about-child:nth-child(3) .about-left{
    padding-left: 20px;
}
.inner-text h3{
    margin-bottom: 20px;
}
.inner-text p{
    margin-bottom: 20px;
}
/* table section start */
.comparison-row {
  padding: 35px 10px;
}
/* footer section */
.cmn-footer{
    width: 33.33%;
    padding: 20px 15px 20px 15px;
}
.footer-logo{
    margin-bottom: 20px;
}
.cmn-footer p{
    margin-bottom: 20px;
}
.newsletter-form{
    padding: 10px;
    margin-bottom: 50px;
}
#email::placeholder{
    font-size: 14px;
}
.footer-btn{
    font-size: 14px;
    padding: 10px;
}
.footer-locations span{
    font-size: 14px;
}
.footer-links li a img{
    width: 40px;
}
.footer-links{
    margin-bottom: 20px;
}

 }
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    h1,.heading-1{
    font-size: 70px;
}
h2,.heading-2{
    font-size: 50px;
}
h3,.heading-3{
    font-size: 40px;
}
/* footer section */
.newsletter-form{
    padding: 10px;
}
#email::placeholder{
    font-size: 14px;
}
.footer-btn{
    font-size: 14px;
    padding: 10px;
}
.footer-locations span{
    font-size: 14px;
}

 }
 /* navbar */
 @media (min-width: 992px) {
    .hambarger {
            display: none;
        } }
 @media (max-width: 991.98px) {
    .hambarger{
        font-size: 26px;
        color: #fff;
        cursor: pointer;
        z-index: 1000;
    }
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background-color: #524B26;
        flex-direction: column;
        padding: 100px 30px;
        transition: right 0.4s ease;
    }
    .nav-links.active {
        right: 0;
    }
    .nav-links li{
        margin-bottom: 30px;
    }
    .nav-links li a{
        font-size: 30px;
    }
    .nav-right{
        margin-left: auto;
        margin-right: 20px;
    }
    .nav-right .search{
    margin-right: 20px;
}
.logo{
    width: 70px;
}
 }